nav {
  width: 100vw;
  max-width: 400px;
  margin: 0 auto;
}
.albumlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albumlist > li {
  margin: 20px 0;
}

.albumlist > li > img {
  width: 200px;
}
