.lesserafim_title {
  font-family: "SBAggroB";
}

.lesserafim {
  display: flex;
  justify-content: center;
  position: relative;
}

.header {
  width: 100%;
  height: 70px;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo > img {
  width: 35px;
}

.lesserafim_title {
  font-size: 21px;
}
.bar {
  border: none;
  font-size: 30px;
  background-color: white;
}
