.audition__main {
  width: 400px;
  height: 2174px;
  margin: 0 auto;
  background-image: url("audition_bgimage.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.con {
  width: 100%;
  max-width: 371px;
  margin: 0 auto;
  padding-top: 114px;
  color: white;
}

.con > h2 {
  font-size: 44px;
  line-height: 44px;

  margin-bottom: 80px;
}

.audition_info {
  display: flex;
  flex-direction: column;
}

.audition_info-box {
  padding: 20px 0px;
  /* line-height: 30px; */

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  width: 18px;
  height: 20px;
}

.icon > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 19px;
  font-weight: bold;
}

.desc {
  font-size: 19px;
}
