.layout {
  width: 100vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  justify-content: center;
  display: flex;
}
.ir {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 30x;
  align-items: center;
  justify-content: space-between;
  color: grey;
  position: fixed;
}

<<<<<<< HEAD
.header {
  font-family: "SBAggroB";
}

=======
>>>>>>> cafc92cd354a168cb0894f0aea5c343d91ac7846
.lesserafim {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header {
  width: 100%;
  height: 70px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo > img {
  width: 35px;
}
.bar {
  border: none;
  font-size: 30px;
  background-color: white;
}

.container1 {
  width: 500px;
  height: 1500px;
  max-width: 400px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  margin: 0 auto;
  background-image: url("https://www.sourcemusic.com/static/images/about-banner-m@2x.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 > .box2 > img {
  width: 100%;
}

.box1 {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 3px;
  justify-content: space-between;
  background-color: black;
  color: grey;
  top: 70px;
  margin: 0 auto;
}

.container2 {
  width: 100%;
  height: 944px;
  max-width: 400px;
  margin: 0 auto;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.title1 {
  display: block;
  color: white;
  font-size: 50px;
  width: 100%;
  min-width: 375px;
  font-weight: 800;
  padding: 0 18px;
  margin-bottom: 50px;
  line-height: 53px;
}

.text1 {
  color: white;
  font-size: 15px;
  display: block;
  width: 100%;
  line-height: 27px;
  padding: 0 18px;
}

.container3 {
  width: 100%;
  height: 1500px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-image: url("https://www.sourcemusic.com/static/images/about-recruit-m@2x.png");
  object-fit: cover;
}

.container3 > .title2 {
  width: 100%;
  font-size: 50px;
  color: white;
  display: block;
  min-width: 375px;
  font-weight: 800;
  padding: 0 18px;
  margin-bottom: 50px;
  line-height: 53px;
  position: relative;
}

.container3 > .text2 {
  width: 100%;
  font-size: 15px;
  line-height: 27px;
  position: relative;
  color: white;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 15px;
}

.container3 > .text3 {
  color: white;
  width: 100%;
  font-size: 15px;
  line-height: 27px;
  position: relative;
  margin: 15px;
}

.container3 > .hybe {
  color: #b51122;
  font-size: 14px;
  display: inline-block;
  position: relative;
  background-color: white;
  padding: 16px;
  border-radius: 25px;
  width: fit-content;
}
